$progress-bar-background-color: rgb(221, 220, 220);

@import "bulma";
@import "font-awesome";
@import "croppie";

@keyframes upndown {
    0%   { color: #0c6f5d; top: -40px; }
    25%  { color: rgba(12, 111, 93, 0.85); top: -40px; }
    50%  { color: rgba(12, 111, 93, 0.6); top: -80px; }
    75%  { color: rgba(12, 111, 93, 0.85); top: -80px; }
    100% { color: #0c6f5d; top: -40px; }
}

$app-legend: #ccc;
$app-white: #fff;
$app-black: #252525;
$app-dark-blue: #215b7d;
$app-text-grey: #9a9494;
$app-next-color: #8bafea;

// delete
$app-red: #EB3030;
$app-close-hover: #decdcd;

$app-info-color: #0d293c;
$app-success-color: #055220;
$app-danger-color: #b90a0a;

// icons 
$app-icon-setting: #4267b2;
$app-icon-queue: #049a39;
$app-icon-dragdrop: #296d54;
$app-icon-notification: #4d43a0;

// dragdrop
$app-file-drag-drop-bkground: rgba(77, 144, 100, 0.7);

//unused 
$app-light-blue: #2AAce3;
$app-blue: rgb(18, 168, 243);
$app-grey: #5e6b71;

$app-text-light-grey: #b6cbe0;
$app-input-selected: #26a69a;
$app-input-selected2: #00251e;
$app-light-green: #8ec640;

body {
    font-family: 'Lato', sans-serif !important;
    width: 100%;
    min-height: 600px;

    body,
    button,
    input,
    select,
    textarea {
        font-family: 'Lato', sans-serif !important;
    }

    .fa-6x {
        font-size: 6em;
    }

    .is-shadow {
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

        &:before, &:after
        {
            content:"";
            position:absolute;
            z-index:-1;
            -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
            -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:0;
            bottom:0;
            left:10px;
            right:10px;
            -moz-border-radius:100px / 10px;
            border-radius:100px / 10px;
        }
        &:after
        {
            right:10px;
            left:auto;
            -webkit-transform:skew(8deg) rotate(3deg);
               -moz-transform:skew(8deg) rotate(3deg);
                -ms-transform:skew(8deg) rotate(3deg);
                 -o-transform:skew(8deg) rotate(3deg);
                    transform:skew(8deg) rotate(3deg);
        }
    }

    .tabs {
        margin-bottom: 0px !important;
        li {
            a {
                padding: 25px 10px 8px 10px;
                font-size: 0.75em;
                color: $app-text-grey;
                border-color: transparent !important;
            }

            &:hover, &.is-active {
                a {
                    background-color: transparent !important;
                    padding: 25px 10px 8px 10px;
                    font-size: 0.75em;
                    color: $app-white !important;
                    border-color: transparent !important;
                }
            }
        }
    }

    .accordion {
        .dropdown {
            width: 100%;
            display: block;

            &.is-active {

                .dropdown-menu {
                    position: relative;
                    left: 0px;
                    opacity: 1;
                }
                
            }
            .dropdown-trigger {
                width: 100%;

                .button {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom: 1px solid $app-white;
                    color: $app-legend;
                    padding: 25px 10px 8px 10px;
                    font-size: 0.75em;
                    justify-content: space-between;
                    width:100%; 
                    height: 51px;
                    font-weight: bold;


                    div:first-of-type {
                        width: 100%;
                        text-align: start;
                    }

                    .icon {
                        .is-link {                          
                            padding-top: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            font-size:12px; 
                            width: 350px;
                            border-color: transparent;
                        }
                    }
                }
            }

            .dropdown-menu {
                width: 100%;
                border-radius: 0;
                padding: 0px;
                position: relative;
                top: 0;
                z-index: auto;
                position:absolute;
                left:-400px;
                display: block;
                transition: all 0.5s ease-in-out;
                opacity: 0;

                .dropdown-content {
                    border-radius: 0;
                    padding: 10px;

                    &.in-progress-queues {
                        .dropdown-item:first-of-type {
                            .pull-left {
                                width: 100%;
                                .padding-before-progress {
                                    margin-bottom: 24px !important;
                                }
                            }
                            
                        }
                    }

                    &.processed-queue {
                        .dropdown-item {
                            .pull-left {
                                width: 100%;

                                .tag {
                                    height: 1.45em;
                                    margin: 0px 0px 2px 5px;
                                
                                    &.is-success {
                                        background-color: $app-icon-queue;
                                    }
                                
                                    &.is-danger {
                                        background-color: $app-danger-color ;
                                    }
                                }
                            }
                        }
                    }

                    .dropdown-item {
                        .pull-left {
                            min-width: 250px !important;
                            .title {
                                font-size: 0.875rem;
                                padding: 0px 0px 2px 0px;
                                color: #4a4a4a;
                                
                                &.padding-before-progress {
                                    padding: 0px 0px 4px 0px;
                                    margin: 0;

                                    .tag {
                                        height: 1.45em;
                                        margin: 0px 0px 2px 5px;
                                    
                                        &.is-success {
                                            background-color: $app-icon-queue;
                                        }
                                    
                                        &.is-danger {
                                            background-color: $app-danger-color ;
                                        }
                                    }
                                }
                            }
                            .subtitle {
                                font-size: 0.65rem;
                                color: $app-text-grey;
                            }
                        }

                        .progress {
                            border-radius: 0;
                            height: 0.3rem;

                            &.is-success {
                                &::-webkit-progress-value {
                                    background-color: $app-dark-blue;
                                  }
                                  
                                  &::-moz-progress-bar {
                                    background-color: $app-dark-blue;
                                  }
                                  
                                  &::-ms-fill {
                                    background-color: $app-dark-blue;
                                  }
                            }
                        }
                    }

                    .tag {
                        float:right;
                    }

                    .button.icon {
                        padding: 0px;
                        height: 1.5em;
                        width: 1.5em;
                        float: right;
                        border: 0;

                        .fa {
                            font-size: 1.3em;
                        }

                        &:hover {
                            border: 0;
                        }
                        &.remove {
                            color: #EB3030;
                        }

                        &.run {
                            color: $app-success-color;
                        }

                        &.diagonize {
                            color:$app-success-color;
                        }
                    }
                }
            }
        }
    }

    &.home {
        background-color: $app-dark-blue;
    }

    &.settings {
        background-color: $app-icon-setting;
    }

    &.queues {
        background-color: $app-icon-queue;
    }

    &.notifications {
        background-color: $app-icon-notification;
    }

    &.dragdrop {
        background-color: $app-icon-dragdrop;
    }
    

    &::-webkit-scrollbar {
        display: none;
    }

    input {
        line-height: normal;
    }
    
    input[type="checkbox"],input[type="radio"] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0
    }

    [type="radio"]:not(:checked),[type="radio"]:checked {
        position: absolute;
        opacity: 0;
        pointer-events: none
    }
    
    [type="radio"]:not(:checked)+label,[type="radio"]:checked+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 0.82em;;
        -webkit-transition: .28s ease;
        transition: .28s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    [type="radio"]:checked+label {
        color: $app-dark-blue;
    }
    
    [type="radio"]+label:before,[type="radio"]+label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        -webkit-transition: .28s ease;
        transition: .28s ease
    }
    
    [type="radio"]:not(:checked)+label:before,[type="radio"]:not(:checked)+label:after,[type="radio"]:checked+label:before,[type="radio"]:checked+label:after,[type="radio"].with-gap:checked+label:before,[type="radio"].with-gap:checked+label:after {
        border-radius: 50%
    }
    
    [type="radio"]:not(:checked)+label:before,[type="radio"]:not(:checked)+label:after {
        border: 2px solid #5a5a5a
    }
    
    [type="radio"]:not(:checked)+label:after {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    
    [type="radio"]:checked+label:before {
        border: 2px solid transparent
    }
    
    [type="radio"]:checked+label:after,[type="radio"].with-gap:checked+label:before,[type="radio"].with-gap:checked+label:after {
        border: 2px solid $app-dark-blue
    }
    
    [type="radio"]:checked+label:after,[type="radio"].with-gap:checked+label:after {
        background-color: $app-dark-blue
    }
    
    [type="radio"]:checked+label:after {
        -webkit-transform: scale(1.02);
        transform: scale(1.02)
    }
    
    [type="radio"].with-gap:checked+label:after {
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    
    [type="radio"].tabbed:focus+label:before {
        -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 10px rgba(0,0,0,0.1)
    }
    
    [type="radio"].with-gap:disabled:checked+label:before {
        border: 2px solid rgba(0,0,0,0.42)
    }
    
    [type="radio"].with-gap:disabled:checked+label:after {
        border: none;
        background-color: rgba(0,0,0,0.42)
    }
    
    [type="radio"]:disabled:not(:checked)+label:before,[type="radio"]:disabled:checked+label:before {
        background-color: transparent;
        border-color: rgba(0,0,0,0.42)
    }
    
    [type="radio"]:disabled+label {
        color: rgba(0,0,0,0.42)
    }
    
    [type="radio"]:disabled:not(:checked)+label:before {
        border-color: rgba(0,0,0,0.42)
    }
    
    [type="radio"]:disabled:checked+label:after {
        background-color: rgba(0,0,0,0.42);
        border-color: #949494
    }

    [type="checkbox"]:not(:checked),[type="checkbox"]:checked {
        position: absolute;
        opacity: 0;
        pointer-events: none
    }
    
    [type="checkbox"]+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    
    [type="checkbox"]+label:before,[type="checkbox"]:not(.filled-in)+label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        -webkit-transition: .2s;
        transition: .2s
    }
    
    [type="checkbox"]:not(.filled-in)+label:after {
        border: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    
    [type="checkbox"]:not(:checked):disabled+label:before {
        border: none;
        background-color: rgba(0,0,0,0.42)
    }
    
    [type="checkbox"].tabbed:focus+label:after {
        -webkit-transform: scale(1);
        transform: scale(1);
        border: 0;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.1)
    }
    
    [type="checkbox"]:checked+label:before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #26a69a;
        border-bottom: 2px solid #26a69a;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    
    [type="checkbox"]:checked:disabled+label:before {
        border-right: 2px solid rgba(0,0,0,0.42);
        border-bottom: 2px solid rgba(0,0,0,0.42)
    }
    
    [type="checkbox"]:indeterminate+label:before {
        top: -11px;
        left: -12px;
        width: 10px;
        height: 22px;
        border-top: none;
        border-left: none;
        border-right: 2px solid #26a69a;
        border-bottom: none;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    
    [type="checkbox"]:indeterminate:disabled+label:before {
        border-right: 2px solid rgba(0,0,0,0.42);
        background-color: transparent
    }
    
    [type="checkbox"].filled-in+label:after {
        border-radius: 2px
    }
    
    [type="checkbox"].filled-in+label:before,[type="checkbox"].filled-in+label:after {
        content: '';
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
        z-index: 1
    }
    
    [type="checkbox"].filled-in:not(:checked)+label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 10px;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    
    [type="checkbox"].filled-in:not(:checked)+label:after {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid #5a5a5a;
        top: 0px;
        z-index: 0
    }
    
    [type="checkbox"].filled-in:checked+label:before {
        top: 0;
        left: 1px;
        width: 8px;
        height: 13px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    
    [type="checkbox"].filled-in:checked+label:after {
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #26a69a;
        background-color: #26a69a;
        z-index: 0
    }
    
    [type="checkbox"].filled-in.tabbed:focus+label:after {
        border-radius: 2px;
        border-color: #5a5a5a;
        background-color: rgba(0,0,0,0.1)
    }
    
    [type="checkbox"].filled-in.tabbed:checked:focus+label:after {
        border-radius: 2px;
        background-color: #26a69a;
        border-color: #26a69a
    }
    
    [type="checkbox"].filled-in:disabled:not(:checked)+label:before {
        background-color: transparent;
        border: 2px solid transparent
    }
    
    [type="checkbox"].filled-in:disabled:not(:checked)+label:after {
        border-color: transparent;
        background-color: #949494
    }
    
    [type="checkbox"].filled-in:disabled:checked+label:before {
        background-color: transparent
    }
    
    [type="checkbox"].filled-in:disabled:checked+label:after {
        background-color: #949494;
        border-color: #949494
    }
    
    .switch,.switch * {
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    
    .switch label {
        cursor: pointer
    }
    
    .switch label input[type=checkbox] {
        opacity: 0;
        width: 0;
        height: 0
    }
    
    .switch label input[type=checkbox]:checked+.lever {
        background-color: lighten($app-icon-setting, 20%)
    }
    
    .switch label input[type=checkbox]:checked+.lever:before,.switch label input[type=checkbox]:checked+.lever:after {
        left: 18px
    }
    
    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: $app-icon-setting;
    }
    
    .switch label .lever {
        content: "";
        display: inline-block;
        position: relative;
        width: 36px;
        height: 14px;
        background-color: rgba(0,0,0,0.38);
        border-radius: 15px;
        margin-right: 10px;
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
        vertical-align: middle;
        margin: 0 16px
    }
    
    .switch label .lever:before,.switch label .lever:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 0;
        top: -3px;
        -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
        transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
        transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
        transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease
    }
    
    .switch label .lever:before {
        background-color: rgba(38,166,154,0.15)
    }
    
    .switch label .lever:after {
        background-color: #F1F1F1;
        -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12)
    }
    
    input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
        -webkit-transform: scale(2.4);
        transform: scale(2.4);
        background-color: rgba(38,166,154,0.15)
    }
    
    input[type=checkbox]:not(:disabled) ~ .lever:active:before,input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
        -webkit-transform: scale(2.4);
        transform: scale(2.4);
        background-color: rgba(0,0,0,0.08)
    }
    
    .switch input[type=checkbox][disabled]+.lever {
        cursor: default;
        background-color: rgba(0,0,0,0.12)
    }
    
    .switch label input[type=checkbox][disabled]+.lever:after,.switch label input[type=checkbox][disabled]:checked+.lever:after {
        background-color: #949494
    }
    

    ul.vertical-flow {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        li {
            padding: 5px 10px;

            &.dragzone {
                padding: 0px;
            }
        }
    }

    ul.horizondal-flow {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        max-width: 3840px;
        padding: 10px;

        &.browser-qk-navs  {
            a {
                padding: 25px 10px;
                font-size: 2.5rem;
                color: $app-black;
                transition: all 0.5s ease-in;
                border: 1px solid transparent;
                height: 1em;

                &:hover {
                    color: $app-dark-blue;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .navbar {
        position: fixed;
        color: $app-white;
        z-index: 99;
        width: 100%;
        height: 35px;
        min-height: 35px;
        display: flex;
        justify-content: space-between;
        background-color: $app-black;

        &.is-top {
            top: 0;
        }

        &.is-bottom {
            bottom: 0;
            min-height: 65px;
        }

        .navbar-brand {
            padding: 2px 10px;
        }
        .navbar-end {
            padding: 6px;

            .delete {
                background-color: $app-red;
                color: $app-white;
                transition: all 0.5s ease-in;
    
                &:hover {
                    background-color: $app-close-hover;
                    color: $app-black;
                    &:before {
                        background-color: $app-black;
                    }
                    &:after {
                        background-color: $app-black;
                    }
                }
            }
        }
    }

    .qk-nav-container  {
        background-color: $app-white;
        position:relative;
    }

    .header-container {
        color: $app-legend;
        padding: 25px 10px 8px 10px;
        font-size: 0.75em;
    }

    .default-container {
        background-color: $app-white;
        padding: 10px;
        position:relative;

        &.notif {
            height: 400px;
            background-color: rgba(255,255,255, 0.98);
            padding: 0px;

            .notification-item {
                padding: 10px;
                min-height: 50px;
                -webkit-box-shadow: 0 1px 2px $app-success-color;
                -moz-box-shadow: 0 2px 1px $app-success-color;
                box-shadow: 0 2px 1px $app-success-color;

                .pull-left {
                    .title {
                        font-size: 0.875rem;
                        padding: 0px 0px 2px 0px;
                        color: $app-success-color;
                    }
                }

                &.is-error {
                    -webkit-box-shadow: 0 1px 2px $app-danger-color;
                    -moz-box-shadow: 0 2px 1px $app-danger-color;
                    box-shadow: 0 2px 1px $app-danger-color;
                    .pull-left {
                        .title {
                            color: $app-danger-color;
                        }
                    }
                }
            }
        }

        &.dragdrop {
            .dropzone {
                min-height: 320px;
                border: 1px $app-icon-dragdrop dashed;
                background: $app-file-drag-drop-bkground;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center; 
                flex-direction: column; 

                .drag-drop-block {
                    align-items: center;
                    max-width: 50%;
                    position: relative;

                    .fa-cloud {
                        position: absolute; 
                        left:15px;
                        top: -50px; 
                        z-index:5
                    }

                    .fa-flash {
                        position: absolute; 
                        left:55px; 
                        z-index: 20;
                        animation: upndown 3s infinite ease-in-out;
                    }

                    .drop-text {
                        position: relative;
                        top: 25px
                    }
                }
            }
        }
    }


    .status-container {
        padding: 20px;

        .is-grouped {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .is-info {
                background-color: $app-info-color;
            }
        
            .is-success {
                background-color: $app-success-color;
            }
        
            .is-danger {
                background-color: $app-danger-color ;
            }

            .is-dark {
                background-color: $app-black;
            }

            .next-button {
                padding: 0px 9px;
                font-size: 0.75rem;
                font-weight: normal;
                border-color: $app-next-color;
                color: $app-next-color;

                .icon-right {
                    padding-left: 5px;
                }

                &:hover {
                    background-color: $app-next-color;
                    color: $app-black;
                }
            }
        }
    }

    .footer-icons {
        padding: 10px 15px;
        a {
            display: inline-block;
            border: 1px $app-dark-blue solid;
            border-radius: 50%;
            padding: 10px;
            min-width: 45px;
            min-height: 45px;
            transition: all 0.5s ease-in;
            background-color: transparent;

            &:hover {
                color: $app-white;
            }

            &.btn-dragdrop {
                color: $app-icon-dragdrop;
                border: 1px $app-icon-dragdrop solid;

                &:hover, &.active { 
                   background-color: $app-icon-dragdrop;
                   color: $app-white;
                }
            }
            
            &.btn-notifications {
                color: $app-icon-notification;
                border: 1px $app-icon-notification solid;

                &:hover, &.active { 
                   background-color: $app-icon-notification;
                   color: $app-white;
                }
            }

            &.btn-queues {
                color: $app-icon-queue;
                border: 1px $app-icon-queue solid;

                &:hover, &.active { 
                   background-color: $app-icon-queue;
                   color: $app-white;
                }
            }

            &.btn-settings {
                color: $app-icon-setting;
                border: 1px $app-icon-setting solid;

                &:hover, &.active { 
                   background-color: $app-icon-setting;
                   color: $app-white;
                }
            }

            &.btn-home {
                color: $app-dark-blue;
                border: 1px $app-dark-blue solid;

                &:hover, &.active { 
                   background-color: $app-dark-blue;
                   color: $app-white;
                }
            }

            .fa {
                font-size: 1.5rem;
            }
        }
    }

    .photo-list {
        float:left;
        list-style: none;
        
        li {
            float: left;
            .is-128x128 {
                margin: 7.5px;
                img {
                    height: 128px;
                }
            }
        }
    }

    .app {
        margin-top: 35px;
    }
}


        
        // .photo-view {
        //     .column {
        //         margin-bottom: 1rem;
        //         min-height: 500px;
        //     }
        // }