@import "bulma";
@import "font-awesome";
@import "croppie";

$app-white: #fff;
$app-black: #252525;
$app-dark-blue: #215b7d;
$app-blue: rgb(18, 168, 243);
$app-grey: #5e6b71;

html {
    background-color: $app-dark-blue;
    height: 100%;
    max-height: 2160px;
}
body {
    font-family: 'Ubuntu', sans-serif !important;
    width: 100%;

    .vertical-menu {
        position: fixed;
        padding: 0px 0px;
        top: 0;
        bottom: 0;
        left: 0;
        width: 55px;
        background-color: $app-black;
        color: $app-white;
        z-index: 99;

        a {
            min-height: 55px;
            padding: 15px;
            &:hover {
                background-color: $app-grey;
                .fa {
                    color: darken($app-blue, 0.5);
                }
            }
        }

        .fa {
            font-size: 1.5em;
            color: $app-white;
        }

    }

    .photo-container  {
        width: 100%;
        max-width: 3840px;
        padding: 10px;
        .photo-view {
            .column {
                margin-bottom: 1rem;
                min-height: 500px;
            }
        }
    }

    .photo-list {
        float:left;
        list-style: none;
        
        li {
            float: left;
            .is-128x128 {
                margin: 7.5px;
                img {
                    height: 128px;
                }
            }
        }
    }

    #photo-app {
        padding-left: 55px;
    }
}